MessageBroker/MessageBroker.Client/Connected Services/ServiceReference2/MessageBroker.Common.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MessageBroker.Common.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MessageBroker.Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SubscriptionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="QueuePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Topic" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionResponse" nillable="true" type="tns:SubscriptionResponse" />
</xs:schema>